html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid red;
}
:root {
  --text-color-priority: #212121;
  --secondary-color-priority: #757575;
  --active-elements-color: #2196f3;
  --background-color-site: #2f303a;
  --secondary-text-color: #ffffff;
  --background-btn-color: #188ce8;
  --portfolio-btn-color: #f5f4fa;
  --contact-link-color: rgba(255, 255, 255, 0.6);
  --link-logo-color: #000000;
  --border-color: #ececec;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color-priority);
  background-color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
.header-conteiner {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}
/* haeder */
/* logo */
.link-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--link-logo-color);
  display: block;
  margin-right: 90px;
}
.logo {
  color: var(--active-elements-color);
}
.link-logo:hover,
.link-logo:focus {
  color: var(--active-elements-color);
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}
.navi {
  display: flex;
  align-items: center;
}
/* nav-link */
a {
  text-decoration-line: none;
}
.site-nav {
  display: flex;
  padding: 0;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.link {
  color: var(--text-color-priority);
  font-weight: 500;
  line-height: 1.15;
  padding: 32px 0;
  display: block;
}
.link:hover,
.link:focus {
  color: var(--active-elements-color);
}
.contact .item {
  margin-right: 50px;
}
.contact .item:last-child {
  margin-right: 0;
}
.contact {
  display: flex;
  margin-left: auto;
  padding-left: 0;
}
.contact-nav {
  color: var(--secondary-color-priority);
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.contact-nav:hover,
.contact-nav:focus {
  color: var(--active-elements-color);
}
.list {
  list-style: none;
}
.current {
  color: var(--active-elements-color);
}
/* index */
/* hero-section */
.hero-section,
.footer-section {
  background-color: var(--background-color-site);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.head-btn {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--active-elements-color);
}
.head-btn:hover,
.head-btn:focus {
  background-color: var(--background-btn-color);
}
/* feature section */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list-title {
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}
.text {
  line-height: 1.7;
  color: var(--secondary-color-priority);
}
/* section what we do and team section */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.photo-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.text-photo {
  font-size: 16px;
  line-height: 1.18;

  color: var(--secondary-color-priority);
}
/* portfolio */
/* hero section */
.main-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main-btn .btn-item {
  margin-left: 10px;
}
.btn-item:first-child {
  margin-left: 0;
}
.hero-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  color: var(--text-color-priority);
  background-color: var(--portfolio-btn-color);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--secondary-text-color);
  background-color: var(--active-elements-color);
}
.project-list {
  display: flex;
  flex-wrap: wrap;
}
/* .project-list > .project-item {
  flex-basis: calc(100% / 3);
} */
.titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.list-text {
  font-size: 16px;
  line-height: 30px;
  color: var(--secondary-color-priority);
}

/* footer */
.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--secondary-text-color);
}
.footer-logo:hover,
.footer-logo:focus {
  color: var(--active-elements-color);
}
.address-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--secondary-text-color);
}
.contact-link {
  font-style: normal;
  line-height: 1.7;
  color: var(--contact-link-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-list {
  margin-top: 50px;
  flex-wrap: wrap;
  padding-left: 0;
}

.project-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-last-child(-n + 3) {
  margi-bottom: 0;
}
